<!DOCTYPE html>

<html>
<head>
  <title>new-business-email-template footer</title>
  <link rel="stylesheet" type="text/css" href="../for-sample-only/common-styles.css">
</head>
<body>
  <br><br><br>


  <!--================================================= Template starts here =================================================-->

  <table style="border-collapse: collapse;border-spacing: 0;Margin-left: auto;Margin-right: auto">
    <tbody>
      <tr>
        <td class="border" style="padding: 0;vertical-align: top;font-size: 1px;line-height: 1px;background-color: #E9EFEE;width: 1px">&nbsp;</td>
        <td style="padding: 0;vertical-align: top">
          <table class="one-col" style="border-collapse: collapse;border-spacing: 0;Margin-left: auto;Margin-right: auto;width: 600px;background-color: #e1e1e1">
            <tbody>
              <tr>
                <td class="column" style="padding: 0;vertical-align: top;text-align: left">
                  <div>
                    <div class="column-top" style="font-size: 56px;line-height: 56px;">&nbsp;</div>
                  </div>
                  <table class="contents" style="border-collapse: collapse;border-spacing: 0;width: 100%">
                    <tbody>
                      <tr>
                        <td class="padded" style="padding: 0;vertical-align: top;padding-left: 85px;padding-right: 85px">
                          <div align="left" style="
                            text-align: center;
                            color: #727272;
                            font-weight: normal;
                            font-family: 'Avenir', 'Open Sans', sans-serif;
                            font-size: 16px;
                            font-weight: bold;
                            line-height: 24px;">
                            Additional Services
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  <table style="border-collapse: collapse;border-spacing: 0;Margin-left: auto;Margin-right: auto">
    <tbody>
      <tr>
        <td class="border" style="padding: 0;vertical-align: top;font-size: 1px;line-height: 1px;background-color: #E9EFEE;width: 1px">&nbsp;</td>
        <td style="padding: 0;vertical-align: top">
          <table class="three-col" style="border-collapse: collapse;border-spacing: 0;Margin-left: auto;Margin-right: auto;width: 600px;background-color: #e1e1e1">
            <tbody>
              <tr>
                <td class="column first" style="padding: 0;vertical-align: top;text-align: left; padding-top: 16px;">
                  <table class="contents" style="border-collapse: collapse;border-spacing: 0;width: 100%">
                    <tbody>
                      <tr>
                        <td class="padded" style="padding: 0;vertical-align: top;padding-left: 85px;padding-right: 16px">
                          <div align="left" style="
                            text-align: center;
                            font-weight: normal;
                            font-family: 'Avenir', 'Open Sans', sans-serif;
                            font-size: 16px;
                            text-decoration: none;
                            line-height: 16px;">
                            <a style="color: #288ae2; cursor: pointer;">Website Design</a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
                <td class="column second" style="padding: 0;vertical-align: top;text-align: left; width: 120px; padding-top: 16px;">
                  <table class="contents" style="border-collapse: collapse;border-spacing: 0;width: 100%">
                    <tbody>
                      <tr>
                        <td class="padded" style="
                          padding: 0;
                          vertical-align: top;
                          padding-left: 16px;
                          padding-right: 16px;
                          border-left: 1px solid #288ae2;
                          border-right: 1px solid #288ae2;">
                          <div align="left" style="
                            text-align: center;
                            font-weight: normal;
                            font-family: 'Avenir', 'Open Sans', sans-serif;
                            font-size: 16px;
                            text-decoration: none;
                            line-height: 16px;">
                            <a style="color: #288ae2; cursor: pointer;">Logo Design</a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
                <td class="column third" style="padding: 0;vertical-align: top;text-align: left; padding-top: 16px;">
                  <table class="contents" style="border-collapse: collapse;border-spacing: 0;width: 100%">
                    <tbody>
                      <tr>
                        <td class="padded" style="padding: 0;vertical-align: top;padding-left: 16px;padding-right: 85px">
                          <div align="left" style="
                            text-align: center;
                            font-weight: normal;
                            font-family: 'Avenir', 'Open Sans', sans-serif;
                            font-size: 16px;
                            text-decoration: none;
                            line-height: 16px;">
                            <a style=" color: #288ae2; cursor: pointer;">Business Cards</a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="column-bottom" style="font-size: 32px;line-height: 32px;">&nbsp;</div>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  <table style="border-collapse: collapse;border-spacing: 0;Margin-left: auto;Margin-right: auto">
    <tbody>
      <tr>
        <td class="border" style="padding: 0;vertical-align: top;font-size: 1px;line-height: 1px;background-color: #E9EFEE;width: 1px">&nbsp;</td>
        <td style="padding: 0;vertical-align: top">
          <table class="one-col" style="border-collapse: collapse;border-spacing: 0;Margin-left: auto;Margin-right: auto;width: 600px;background-color: #e1e1e1">
            <tbody>
              <tr>
                <td class="column" style="padding: 0;vertical-align: top;text-align: left">
                  <div>
                    <div class="column-top" style="font-size: 24px;line-height: 24px;">&nbsp;</div>
                  </div>
                  <table class="contents" style="border-collapse: collapse;border-spacing: 0;width: 100%">
                    <tbody>
                      <tr>
                        <td class="padded" style="padding: 0;vertical-align: top;padding-left: 85px;padding-right: 85px;">
                          <div align="left" style="
                            border-top: 1px solid #a0a0a0;
                            text-align: center;
                            color: #a0a0a0;
                            font-weight: normal;
                            font-family: 'Avenir', 'Open Sans', sans-serif;
                            font-size: 16px;
                            line-height: 24px;
                            padding-top: 24px;
                            padding-bottom: 24px;">
                            <img src="../assets/social-link-01.png" style="display: inline-block;margin-right:16px;" width="27px">

                            <img src="../assets/social-link-02.png" style="display: inline-block;margin-right:16px;" width="27px">

                            <img src="../assets/social-link-03.png" style="display: inline-block;margin-right:16px;" width="27px">

                            <img src="../assets/social-link-04.png" style="display: inline-block;margin-right:16px;" width="27px">

                            <img src="../assets/social-link-05.png" style="display: inline-block;" width="27px">
                            <br><br>

                            <a href="mailto:support@serviceseeking.com.au" style="color: #a0a0a0; text-decoration: none;">support@serviceseeking.com.au</a>
                            <br>

                            1 300 304 647
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  <table style="border-collapse: collapse;border-spacing: 0;Margin-left: auto;Margin-right: auto">
    <tbody>
      <tr>
        <td class="border" style="padding: 0;vertical-align: top;font-size: 1px;line-height: 1px;background-color: #E9EFEE;width: 1px">&nbsp;</td>
        <td style="padding: 0;vertical-align: top">
          <table class="two-col" style="border-collapse: collapse;border-spacing: 0;Margin-left: auto;Margin-right: auto;width: 600px;background-color: #e1e1e1">
            <tbody>
              <tr>
                <td class="column first" style="padding: 0;vertical-align: top;text-align: left;width: 300px">
                  <div>
                    <div class="column-top" style="font-size: 32px;line-height: 32px;">&nbsp;</div>
                  </div>
                  <table class="contents" style="border-collapse: collapse;border-spacing: 0;width: 100%">
                    <tbody>
                      <tr>
                        <td class="padded" style="padding: 0;vertical-align: top;padding-left: 85px;padding-right: 16px">
                          <div align="left" style="    
                            text-align: center;
                            color: white;
                            font-family: 'Avenir', 'Open Sans', sans-serif;
                            font-size: 16px;
                            font-weight: bold;
                            line-height: 16px;
                            cursor: pointer;
                            margin-bottom: 32px;">
                            <a href="https://itunes.apple.com/au/app/serviceseeking/id848828489?mt=8&amp;uo=4"><img src="../assets/download-link-01.png" style="display: inline-block;" width="199px"></a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
                <td class="column second" style="padding: 0;vertical-align: top;text-align: left;width: 300px">
                  <div>
                    <div class="column-top" style="font-size: 32px;line-height: 32px;">&nbsp;</div>
                  </div>
                  <table class="contents" style="border-collapse: collapse;border-spacing: 0;width: 100%">
                    <tbody>
                      <tr>
                        <td class="padded" style="padding: 0;vertical-align: top;padding-left: 16px;padding-right: 85px">
                          <div align="left" style="    
                            text-align: center;
                            color: white;
                            font-family: 'Avenir', 'Open Sans', sans-serif;
                            font-size: 16px;
                            font-weight: bold;
                            line-height: 16px;
                            cursor: pointer;
                            margin-bottom: 32px;">
                            <a href="https://play.google.com/store/apps/details?id=au.com.serviceseeking"><img src="../assets/download-link-02.png" style="display: inline-block;" width="199px"></a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>

  <!--================================================= Template ends here =================================================-->


</body>
</html>