<!DOCTYPE html>

<html>
<head>
  <title>new-business-email-template header</title>
  <link rel="stylesheet" type="text/css" href="../for-sample-only/common-styles.css">
</head>
<body>
  <br><br><br>


  <!--================================================= Template starts here =================================================-->

  <table style="border-collapse: collapse;border-spacing: 0;Margin-left: auto;Margin-right: auto">
    <tbody>
      <tr>
        <td class="border" style="padding: 0;vertical-align: top;font-size: 1px;line-height: 1px;background-color: #E9EFEE;width: 1px">&nbsp;</td>
        <td style="padding: 0;vertical-align: top">
          <table class="one-col" style="border-collapse: collapse;border-spacing: 0;Margin-left: auto;Margin-right: auto;width: 600px;background-color: #288ae2">
            <tbody>
              <tr>
                <td class="column" style="padding: 0;vertical-align: top;text-align: left">
                  <div>
                    <div class="column-top" style="font-size: 22px;line-height: 22px;">&nbsp;</div>
                  </div>
                  <table class="contents" style="border-collapse: collapse;border-spacing: 0;width: 100%">
                    <tbody>
                      <tr>
                        <td class="padded" style="padding: 0;vertical-align: top;padding-left: 85px;padding-right: 85px">
                          <div align="left" style="text-align: left">
                            <a class="logo-link" href="assets/white-logo.png" style="text-align:left;text-decoration:none;font-weight:normal;color:#282828;height:auto;display:block;position:relative;"><b></b><img align="top" alt="ServiceSeeking.com.au" border="0" height="21" id="ss-logo" src="http://www.serviceseeking.com.au/assets/white-logo.png" style="width:201px;height:21px;display: inline; font-weight:normal;text-align:left;font-size:18px;text-decoration:none;line-height:100%;display:block;color:#4c4c4c;outline-style:none;border-style:none;" title="ServiceSeeking.com.au" width="201"></a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="column-bottom" style="font-size: 21px;line-height: 21px;">&nbsp;</div>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>

  <!--================================================= Template ends here =================================================-->


</body>
</html>