<!DOCTYPE html>

<html>
<head>
  <title>new-business-email-template medium_title</title>
  <link rel="stylesheet" type="text/css" href="../for-sample-only/common-styles.css">
</head>
<body>
  <br><br><br>

  <!--================================================= Template starts here =================================================-->

  <table style="border-collapse: collapse;border-spacing: 0;Margin-left: auto;Margin-right: auto">
    <tbody>
      <tr>
        <td class="border" style="padding: 0;vertical-align: top;font-size: 1px;line-height: 1px;background-color: #E9EFEE;width: 1px">&nbsp;</td>
        <td style="padding: 0;vertical-align: top">
          <table class="one-col" style="border-collapse: collapse;border-spacing: 0;Margin-left: auto;Margin-right: auto;width: 600px;background-color: #f6f6f6">
            <tbody>
              <tr>
                <td class="column" style="padding: 0;vertical-align: top;text-align: left">
                  <div>
                    <div class="column-top" style="font-size: 48px;line-height: 48px;">&nbsp;</div>
                  </div>
                  <table class="contents" style="border-collapse: collapse;border-spacing: 0;width: 100%">
                    <tbody>
                      <tr>
                        <td class="padded" style="padding: 0;vertical-align: top;padding-left: 85px;padding-right: 85px">
                          <div align="left" style="
                            text-align: left;
                            color: black;
                            font-family: 'Avenir', 'Open Sans', sans-serif;
                            font-size: 24px;
                            font-weight: normal;
                            line-height: 32px;">
                            Insert pull quote here. This is space for a pull quote.
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="column-bottom" style="font-size: 32px;line-height: 32px;">&nbsp;</div>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>

  <!--================================================= Template ends here =================================================-->


</body>
</html>